# Python bytecode
__pycache__

# Pywikibot files
apicache-py3/
logs/
pywikibot-*.lwp
throttle.ctrl

# Pywikibot config/secrets
# Note: user-config.py can contain OAuth secrets
user-config.py
user-password.py
